{% extends 'travels/main.html' %}
{% load static %}
{% block content %}
<h3 class="titre-acc">All my travels</h3>
<div class="row">
    {% for voyage in voyages %}
    <div class="col-lg-4">
        <h6><strong> {{ voyage.title }}</strong></h6>
        <a href="{{voyage.linkphoto}}">
            <img class="thumbnail" src="{{ voyage.linkphoto }}">
        </a>
        <div class=" box-element product">
            <p>From {{ voyage.start_date }} to {{ voyage.end_date }}</p>
            {% for step in voyage.step_set.all %}
            <div>
                <h6><strong>{{step.city}} {{step.date}}</strong></h6>
                <p>{{step.summary}}</p>


                {% if step.linkstep_set %}
                <ul class="no-bullets">
                    {% for link in step.linkstep_set.all %}
                    <li>Best <a href="{{ link.linkrestaurant }}"> restaurant</a> in {{ link.title_step }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>
{% endblock content %}